// Converted from the ZSA Planck EZ Oryx keymap with qmk2zmk, then adapted
// from a 4x12 Planck matrix to a 3x6+3 split Corne 42 matrix.

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    macros {
        ST_MACRO_0: ST_MACRO_0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <100>;
            tap-ms = <30>;
            bindings = <&kp LG(C)>, <&kp LG(V)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            bindings = <
                &kp TAB       &kp Q           &kp W           &kp F           &kp P           &kp B             &kp J           &kp L           &kp U            &kp Y          &kp SEMI        &kp BSPC
                &caps_word    &kp A           &kp R           &kp S           &kp T           &kp G             &kp M           &kp N           &kp E            &kp I          &kp O           &kp SQT
                &ST_MACRO_0   &mt LALT Z      &mt LCTRL X     &mt LSHFT C     &mt LGUI D      &kp V             &kp K           &mt RGUI H      &mt RSHFT COMMA  &mt RCTRL DOT  &mt RALT FSLH   &kp RET
                                               &kp ESC         &mo 1           &kp SPACE                         &kp RET         &mo 2           &kp RALT
            >;
        };

        lower_layer {
            bindings = <
                &trans        &kp EXCL        &kp AT          &kp HASH        &kp DLLR        &kp PRCNT         &kp CARET       &kp AMPS        &kp STAR         &kp LPAR       &kp RPAR        &trans
                &trans        &trans          &trans          &trans          &trans          &trans            &kp UNDER       &kp LBRC        &kp RBRC         &kp PLUS       &kp PIPE        &trans
                &trans        &trans          &trans          &trans          &trans          &trans            &trans          &trans          &trans           &trans         &trans          &trans
                                               &trans          &trans          &trans                            &trans          &trans          &trans
            >;
        };

        raise_layer {
            bindings = <
                &kp TILDE     &kp N1          &kp N2          &kp N3          &kp N4          &kp N5            &kp N6          &kp N7          &kp N8           &kp N9         &kp N0          &trans
                &kp GRAVE     &kp BSLH        &kp EQUAL       &kp LBKT        &kp RBKT        &kp MINUS         &trans          &trans          &trans           &trans         &trans          &trans
                &trans        &trans          &trans          &trans          &trans          &trans            &trans          &trans          &trans           &trans         &trans          &trans
                                               &trans          &trans          &trans                            &trans          &trans          &trans
            >;
        };

        adjust_layer {
            bindings = <
                &bootloader   &trans          &trans          &trans          &trans          &trans            &trans          &trans          &trans           &trans         &trans          &trans
                &trans        &trans          &trans          &trans          &trans          &trans            &trans          &kp LEFT        &kp DOWN         &kp UP         &kp RIGHT       &trans
                &trans        &trans          &trans          &trans          &trans          &trans            &trans          &trans          &trans           &trans         &trans          &trans
                                               &trans          &trans          &trans                            &trans          &trans          &trans
            >;
        };
    };
};
